.main-container .content {
    flex-grow: 1;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 2rem;
    list-style: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
*, :after, :before {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    color: #00da8d;
}
a {
    color: #008e5c;
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb .divider {
    margin: 0 10px;
}

.breadcrumb>li {
    margin: 0;
    padding: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1, h1 {
    font-size: 2.7rem;
}
h3 {
    font-size: 1.75rem;
}
.breadcrumb>li {
    margin: 0;
    padding: 0;
}
a {
    color: #00da8d;
}
a {
    color: #008e5c;
    text-decoration: none;
    background-color: transparent;
}

body {
    color: #e9ecef;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content>article {
    padding: 20px 40px;
    line-height: 1.4;
}
.author-info {
    display: flex;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, :after, :before {
    box-sizing: border-box;
}

article {
    display: block;
}

.author-info .author-portrait {
    max-width: 250px;
    flex-basis: 50%;
}

div {
    display: block;
}

.content>article {
    padding: 20px 40px;
    line-height: 1.4;
}

.img-wrapper {
    display: block;
    position: relative;
    padding-top: 150%;
    background: #7d7d7d;
    overflow: hidden;
}

.img-wrapper img, .img-wrapper picture {
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.author-info .author-details {
    padding-left: 30px;
}

div {
    display: block;
}

ul.disc {
    margin: 0 0 1.5rem 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

dl, ol, ul {
    margin-top: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.content>article {
    padding: 20px 40px;
    line-height: 1.4;
}

ul.disc>li {
    margin: 0 0 5px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}